@mixin title-font {
  color: #000 !important;
  font-family: Inter !important ;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 140% !important;
}

@mixin date-font {
  color: #827e7e;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 183.333%;
}

@mixin overview-font {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 183.333%;
}

$shadow-2: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

.movie-card {
  height: 280px;
  box-shadow: $shadow-2;

  &__poster {
    height: 280px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    height: 100%;
    padding: 0 10px 0 20px;
    display: flex;
    flex-direction: column;
  }

  &__top {
  }

  &__head {
    & > * {
      margin-top: 8px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 0 !important;
    cursor: pointer;
    @include title-font();
  }

  &__rate-ring {
    display: flex;
    justify-content: end;
    margin-left: 10px;
  }

  &__date {
    @include date-font();
  }

  &__genre-list {
    width: 100%;
    overflow-x: auto;

    code {
      cursor: pointer;
      margin-left: 0;
    }
  }

  &__genres {
    white-space: nowrap;
  }

  &__body {
    height: 35%;
    margin-top: 10px;
  }

  &__overview {
    // height: 100%;

    @include overview-font();
  }

  &__footer {
    margin-top: auto;
  }

  &__rating {
    font-size: 1.2vw;
    margin-bottom: 10px;
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 1199.9px) {
  .movie-card {
    // height: 245px;

    &--box {
      padding: 10px;
    }

    &__poster {
      min-width: 60px;
      height: 100%;
      margin-right: 12px;

      img {
        // width: 30% !important;
        // height: 100% !important;
      }
    }

    &__info {
      padding: 0;
    }

    &__head {
      flex: 1;
      // & > * {
      //   margin-top: 8px;
      // }
    }

    &__header {
      margin-top: 0;
    }

    &__title {
      // cursor: pointer;
      // @include title-font();
    }

    &__rate-ring {
      margin-left: auto;
      // display: flex;
      // justify-content: end;
    }

    &__date {
      // @include date-font();
    }

    &__genre-list {
      display: flex;
      flex-wrap: wrap;
    }

    &__body {
      // height: initial;
      // margin-top: 10px;
    }

    &__overview {
      // height: 100%;
      // overflow: hidden;
      // text-overflow: ellipsis;

      // @include overview-font();
    }

    &__footer {
      display: flex;
      justify-content: end;
    }

    &__rating {
      font-size: 14px;
      margin-top: 10px;
      margin-right: 5px;
    }
  }
}
