.ant-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
  animation-delay: 4s;
}
