@mixin input-font {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
}

.movie-search {
  &--box {
    margin-bottom: 32px;
  }

  @include input-font;
}
